.w3-content {
    max-width: 100%; 
    max-height: 100%;
    background-color: black;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  .footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
  }

  header {
    background-image:url('https://i.picsum.photos/id/292/1920/1080.jpg?hmac=nRJPlN1JN7ro8X0ui2VTgD41MCxFUtpXgKS2YTPt9Ac');
    background-position: center center;
    font-size: larger;
  }
  body{
    background-color: black;
    font-size: 2em;
  }

  .w3-xlarge {
    font-size: 17px!important;
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Anton", sans-serif} 